@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body{
    margin:0;
    background-color: #303036;
}

.wrapper {
    background-color: #303036;
    display: grid;
    flex-direction: column;
}

.wrapper .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    background-color:black;
    background: linear-gradient(to bottom, black, transparent);
    background-size: cover;
    position: sticky;

}

.wrapper .navbar img {
    margin-left: 20px;
    margin-top: 10px;
}

.wrapper .navlist {
    display: flex;
    list-style: none;
}

.wrapper .navlist li {
    margin-right: 35px;

}

.wrapper .navlist li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 1rem 0.75rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;

}

.wrapper .navlist li a:hover {
    background-color: #39B78B;
    color: #474747;
}

.wrapper .spread {
    float: right;
}

.wrapper .container {
    margin-top: 10px;
    /*background-image: url("../components/images/bg.png");*/
    height: 768px;
    background-size: cover;
    margin-left: 30px;
    color: white;
    float: left;
}

.wrapper .workspace {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrapper .workspace .container {

    width: 55%;
}

.wrapper .container h1 {
    font-family: "roboto";
    font-weight:bold;
    font-size: 45px;
    background: linear-gradient(235deg, #39b78b, #30bced);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 2em;
}

.wrapper .container h3 {
    font-family: "roboto";
    font-weight:bold;
    font-size: 45px;
    color: white;
}

.wrapper .container h2 {
    font-family: "roboto";
    font-weight:bold;
    font-size: 3rem;
    color: white;
    margin-bottom: 30%;
    margin-top: 2em;
}

.wrapper .PolarArea{
    margin:auto;
    width:fit-content;
    display:flex;
    flex-direction:row;
}

.wrapper .PolarArea h3{
    font-family: 'roboto';
    color:white;
    text-align: center;
    font-size:2rem;
}

.wrapper .PolarArea .wheel{
    color:#30bced;
    
}

.wrapper .PolarArea .inputs{
    margin:auto;
    display:flex;
    flex-direction: column;
}

.wrapper .inputs>div{

    width:fit-content;
    height:fit-content;
    border-style:solid;
    border-radius: 10px;
    padding:0.1rem;
    margin-bottom:1.2rem;
}

.wrapper .inputs .investmentsBox{
    background-color: rgba(255, 99, 132, 0.2);
    border-color: rgba(255, 99, 132, 1);
}

.wrapper .inputs .savingsBox{
    background-color: rgba(54, 162, 235, 0.2);
    border-color: rgba(54, 162, 235, 1);
}

.wrapper .inputs .fourkBox{
    background-color: rgba(255, 206, 86, 0.2);
    border-color: rgba(255, 206, 86, 1);
}

.wrapper .inputs .cryptoBox{
    background-color: rgba(75, 192, 192, 0.2);
    border-color: rgba(75, 192, 192, 1);
}

.wrapper .inputs .featuresBox{
    background-color: rgba(153, 102, 255, 0.2);
    border-color: rgba(153, 102, 255, 1);
}

.wrapper .container .discover{
    color:#30bced;
  
}

.wrapper .container .you{
    color:#39B78B;
}

