@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

.Wrapper {
    background-color: #303036;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    width: 100%;
    min-height: 100vh;
}


.Wrapper .Navbar {
    background-color: #050401;
    position: fixed;
    width: 4%;
    height: 100%;
    overflow: hidden;
    transition: 0.25s;
    opacity: 0.9;
    color: white;

}


.Wrapper .Navbar svg {
    margin: auto;
}

.Wrapper .Navbar a p {
    display: none;
}

.Wrapper .Navbar nav>div {
    margin-top: 20%;
    margin-bottom: 20%;
    padding: 0;
    border-bottom: solid 0.2rem black;
}

.Wrapper .icon {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    color: white;

}

.Wrapper .icon svg {
    width: 2rem;
    height: 2rem;
}

.Wrapper .Navbar a {
    text-decoration: none;
    color: white;
    transition: 0.25s;
}

.Wrapper .Navbar p {
    margin: 0;
    padding: 0;
}

.Wrapper .Navbar:hover {
    padding-right: 20px;
    width: fit-content;
}

.Wrapper .Navbar:hover a p {
    display: block;
}

.Wrapper .Navbar:hover .user p {
    display: block;
}


.Wrapper .user p {
    display: none;
    text-align: center;
}

.Wrapper .Navbar:hover div a {
    display: inline-flex;
}


.Wrapper .Content {
    margin-left: 5%;
}

.Wrapper .Navbar p {
    font-family: 'roboto';
    font-size: 1rem;
    margin: auto;
    margin-left: 5%;
}

.Wrapper .Navbar .logout {
    width: fit-content;
}

.Wrapper .Navbar .logout button {
    width: 100%;
    height: 100%;

}


.Wrapper .Navbar a:hover {
    transform: translateX(10px);
}

.Wrapper .Content {
    background-color: #303036;
    padding-left: 5%;
    margin-left: 0;
    width: 100%;
    color: white;

}

.Wrapper .Content>div {
    margin-top: 2%;
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: baseline;
    row-gap: 4vh;
    column-gap: 4%;
}

.Wrapper .thisMonth {

    margin-left: 0;
    height: fit-content;
    width: 30%;
    display: flex;
    flex-direction: row;
    border-radius: 42px;
    background: #303036;
    box-shadow: 6px 6px 12px #1d1d20,
        -6px -6px 12px #43434c;
    padding-right: 2%;
    padding-bottom: 2%;
}

.Wrapper .thisMonthInfo .summary {

    font-size: 1.4rem;
    border-bottom: solid 2px #30BCED;
    

}

.Wrapper .thisMonthInfo .info,
.expenses {
    font-size: 1rem;
}

.Wrapper .thisMonthInfo {
    font-family: 'Roboto';
    margin: auto;
    width: fit-content;
}


.Wrapper .PieChart h3 {
    text-align: center;
    font-family: 'roboto';

}

.Wrapper .filter {
    border-radius: 42px;
    background: #303036;
    box-shadow: 6px 6px 12px #1d1d20,
        -6px -6px 12px #43434c;
    padding: 1%;
    height: fit-content;
}

.Wrapper .filter form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
}

.Wrapper .filter input,
.Wrapper .filter select {

    color: white;
    font-family: 'roboto';
    font-size: 1.5rem;
    background-color: #303036;
    border-color: #30BCED;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 2px;
}

.Wrapper .filter button {
    margin: auto;
    color: white;
    border-color: white;
    font-family: 'roboto';
    font-size: 1.5rem;
    width: fit-content;
    background-color: #303036;
    transition: 0.25s;
}

.Wrapper .filter button:hover {
    border-color: #30BCED;
    color: white;
}

.Wrapper .financialInfo {
    border-radius: 42px;
    background: #303036;
    box-shadow: 6px 6px 12px #1d1d20,
        -6px -6px 12px #43434c;
    padding: 2%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 10px;
    margin-right:5%;
    justify-content: center;
}

.Wrapper .financialInfo .selectionForm>form {
    display: flex;
    flex-direction: column;

}

.Wrapper .financialInfo .selectionForm input,
button {
    margin-top: 5%;
}

.Wrapper .createNew {
    border-radius: 42px;
    background: #303036;
    box-shadow: 6px 6px 12px #1d1d20,
        -6px -6px 12px #43434c;
    padding: 2%;
    width: fit-content;
    height: fit-content;
    position: relative;
}

.Wrapper .createNew .openCreateBtn {
    margin: auto;
    color: white;
    border-color: #30BCED;
    font-family: 'roboto';
    font-size: 1.5rem;
    width: fit-content;
    background-color: #303036;
    transition: 0.25s;
    border-top: none;
    border-left: none;

}

.Wrapper .createNew .openCreateBtn:hover {
    border-color: white;
    color: #30BCED;
}

.Wrapper .createNew form {
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    row-gap: 1rem;
}

.Wrapper .createNew form label {
    font-family: 'roboto';
    font-size: 1.2rem;
    border-bottom: solid 2px #30BCED;

}

.Wrapper .createNew form input,
.Wrapper .createNew form select {


    color: white;
    font-family: 'roboto';
    font-size: 0.8rem;
    background-color: #303036;
    border-color: #30BCED;
    border-top: none;
    border-left: none;
    border-width: 2px;

}

.Wrapper .outcomes input {
    margin-right: 1rem;
}

.Wrapper .outcomes button {
    background: none;
    border: none;
}

.Wrapper .outcomes .trash {
    fill: white;
    transition: 0.25s;
    width: 1rem;
    height: 1rem;
}

.Wrapper .outcomes .trash:hover {
    fill: red;
}

.Wrapper .createNew .add {
    background: none;
    border: none;
}

.Wrapper .createNew .addOutcome {
    fill: white;
    width: 1.5rem;
    height: 1.5rem;
    transition: 0.25s;
}

.Wrapper .createNew .addOutcome:hover {
    fill: green;
}

.Wrapper .createNew .submit {
    margin: auto;
    color: white;
    border-color: white;
    font-family: 'roboto';
    font-size: 1.5rem;
    width: fit-content;
    background-color: #303036;
    transition: 0.25s;
}

.Wrapper .createNew .submit:hover {
    border-color: #30BCED;
}

.Wrapper .createNew .closeCreateBtn {
    margin: auto;
    color: white;
    border-color: white;
    font-family: 'roboto';
    font-size: 1rem;
    width: fit-content;
    background-color: #303036;
    transition: 0.25s;
    position: absolute;
    top: 3%;
    left: 80%;
}

.Wrapper .createNew .closeCreateBtn:hover {
    border-color: red;
}

.Wrapper .PieChart .upDown svg {
    width: 1rem;
    height: 1rem;
}

.Wrapper .PieChart .upDown {
    font-family: 'roboto';
    font-size: 1rem;
    margin: auto;
    width: fit-content;
    color:black;
}

.Wrapper .PieChart .up{
    background-color:rgb(173, 246, 173);
    border-radius: 1rem;
    padding:5px;
}

.Wrapper .PieChart .down{
    background-color:#ffcccb;
    border-radius: 1rem;
    padding:5px;
}

.Wrapper .financeInfoHeader {
    font-family: 'roboto';
    text-align: center;
    width: 90%;
    font-size: 2.5rem;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #30BCED;
    background: #30BCED;
    background: radial-gradient(circle farthest-corner at right center, #30BCED 24%, #54CF03 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Wrapper .financialInfo .FinanceInfo{
  display:flex;
  flex-direction: row;
  overflow: visible;

}

.Wrapper .financialInfo .financialContent{
    display:flex;
    flex-direction: column;
    margin:auto;
    row-gap: 1rem;
}

.Wrapper .financialContent div{
    font-family:'roboto';
    font-size:1.5rem;
}

.Wrapper .financialContent svg{
    width:1.5rem;
    height:1.5rem;
    margin-right:0.5rem;
}

.Wrapper .financialContent div .PieChart{
    width:100%;
}

.Wrapper .financialContent .PieChart h3{
    font-size:1.5rem;
  
}

.Wrapper .financialContent .PieChart{

    height: fit-content;
}

.Wrapper .FinanceInfo{

    padding:2rem;
    position:relative;
}

.Wrapper .FinanceInfo button{
    background:none;
    border:none;
    overflow: auto;
}

.Wrapper .FinanceInfo .actionButtons{
    position:absolute;
   top:90%;
}
.Wrapper .FinanceInfo .bi-trash,.Wrapper .FinanceInfo .bi-toggles2{
    fill:white;
    transition:0.25s;
    width:1.5rem;
    height:1.5rem;

}

.Wrapper .FinanceInfo .bi-trash:hover{
    fill:red;
}

.Wrapper .FinanceInfo .bi-toggles2:hover{
    fill: #30BCED;
}

.LineGraph{
    width:100vw;
}