
.Wrapper {
    background-color: white;
    display: grid;
    grid-template-areas:
    'n c';
    grid-template-columns: 1fr 10fr;
    grid-gap: 10px;
}


.Wrapper .Navbar {
    grid-area: n;
    background-color: yellow;
    color: black
}

.Wrapper .Content {
    grid-area: c;
    background-color: black;
    color: white;
}

.Wrapper .PieChart {
    width: 20%;
}

.Wrapper .FinanceInfo {
    display: inline-block;
} 
 
