.Wrapper {
    display: grid;
    grid-template-areas:
    'n c';
    grid-template-columns: 1fr 10fr;
    grid-gap: 10px;
}


.Navbar {
    grid-area: n;
    background-color: yellow;
    color: black
}

.Content {
    grid-area: c;
    background-color: black;
    color: white;
}
.PieChart {
    width: 20%;
}

.FinanceInfo {
    display: inline-block;
}